/lesson2/target/
/lesson2/class-spring-mvc-example/target/
/lesson2/hw/target/
/lesson3/class-hibernate-lesson/target/
/lesson3/hw-hibernate-console-bd-client/target/
/lesson4/less4-hw/target/
/lesson5/less5-hw/target/
/target/
/.idea/

