<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Каталог</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<div class="container">

    <header th:replace="fragments/header.html :: header (activePage=${activePage})"/>

    <body>
        <div class="product__h1_div">
            <div><h1>Product list</h1></div>
            <!-- отображаем ссылку только пользователям менеджер, админ и суперадмин -->
            <div sec:authorize="hasRole('MANAGER') or hasRole('ADMIN') or hasRole('SUPERADMIN')"><a th:href="@{/product/form}">Create product</a></div>
        </div>

        <div class="product__filler_div">
            <form method="get" th:action="@{/product}">
                <label class="product__filler_label" for="minPrice">Min price</label><input type="number" id="minPrice" name="minPrice" th:value="${minPrice}">
                <label class="product__filler_label" for="maxPrice">Max price</label><input type="number" id="maxPrice" name="maxPrice" th:value="${maxPrice}">
                <button type="submit">Apply</button>
            </form>
        </div>

        <table th:if="${productPage.hasContent()}">
            <tr>
                <th>id</th>
                <th>title</th>
                <th>price</th>
            </tr>

            <tr th:each="product : ${productPage.content}">
                <!-- отображаем ссылку на id только пользователям менеджер, админ и суперадмин -->
                <td sec:authorize="hasRole('MANAGER') or hasRole('ADMIN') or hasRole('SUPERADMIN')"><a th:href="@{/product/{productId}(productId = ${product.id})}"><span th:text="${product.id}">id</span></a></td>
                <td sec:authorize="isAnonymous() or hasRole('GUEST')"><span th:text="${product.id}">id</span></td>

                <td th:text="${product.title}">title</td>
                <td th:text="${product.price}">price</td>
            </tr>
        </table>

        <div th:unless="${productPage.hasContent()}" class="product_data_empty_div">
            <h3>No data</h3>
        </div>

        <pag th:if="${productPage.hasContent()}" th:replace="fragments/pagination.html" :: pagination />

    </body>

    <footer th:replace="fragments/footer.html" :: footer />

</div>

</html>