<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>User</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<div class="container">

    <header th:replace="fragments/header.html :: header (activePage=${activePage})"/>

    <body>
        <div class="user__h1_div">
            <div><h1>User list</h1></div>
            <!-- отображаем ссылку только пользователю с ролью SUPERADMIN -->
            <div sec:authorize="hasRole('SUPERADMIN')"><a th:href="@{/user/form}">Create user</a></div>
        </div>

        <table th:if="${userPage.hasContent()}">
            <tr>
                <th>id</th>
                <th>username</th>
            </tr>

            <tr th:each="user : ${userPage.content}">
                <!-- отображаем ссылку на id только пользователю с ролью SUPERADMIN -->
                <line sec:authorize="hasRole('SUPERADMIN')">
                    <td><a th:href="@{/user/{userId}(userId = ${user.id})}"><span th:text="${user.id}">id</span></a></td>
                    <td th:text="${user.username}">username</td>
                </line>
                <!-- этот блок показываем админам. цикл, т.к. ролей у пользователей множество -->
                <line sec:authorize="hasRole('ADMIN')" th:each="role : ${user.roles}">
                    <!-- Не показываем в списке пользователя с ролью SUPERADMIN -->
                    <line th:if="${role.getName()} !='ROLE_SUPERADMIN'" >
                        <td><span th:text="${user.id}">id</span></td>
                        <td th:text="${user.username}">username</td>
                    </line>
                </line>
            </tr>
        </table>

        <div th:unless="${userPage.hasContent()}" class="user_data_empty_div">
            <h3>No data</h3>
        </div>

        <pag th:if="${userPage.hasContent()}" class="pagination__div">
            <div th:if="${userPage.hasContent()}" class="pagination">
                <a th:href="@{/user(page=${1}, limit=${userPage.size})}">&laquo;</a>

                <a th:each="num: ${#numbers.sequence(1, userPage.totalPages)}"
                   th:classappend="${num == userPage.number + 1} ? 'active'"
                   th:href="@{/user(page=${num}, limit=${userPage.size})}">[[${num}]]</a>

                <a th:href="@{/user(page=${userPage.totalPages}, limit=${userPage.size})}">&raquo;</a>
            </div>
        </pag>
    </body>

    <footer th:replace="fragments/footer.html" :: footer />

</div>
</html>