<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <header>
        <div class="header__div">
            <div class="main_logo">
                <a th:href="@{/welcome}"><img class="main_logo" th:src="@{/resources/images/main-logo.png}" alt="Лого"></a>
            </div>
            <p>Интернет-магазин Бытовая техника.RU. Телефон: +7 495 000-0000</p>
            <ul class ="header__menu">
                <li class ="header__menu__li"><a class ="header__menu__link" th:href="@{/welcome}">Главная</a></li>
                <li class ="header__menu__li"><a class ="header__menu__link" th:href="@{/product}">Каталог</a></li>
                <li class ="header__menu__li"><a class ="header__menu__link" th:href="@{/product/form}">Добавить товар</a></li>
            </ul>
        </div>
    </header>

</html>