<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <title>Каталог</title>
</head>
<div class="container">

<!--    <nav th:replace="fragments/header.html :: header (activePage=${activePage})"/>-->
    <header th:replace="fragments/header.html :: header "/>

    <body>

        <div class="product__filler_div">
            <form method="get" th:action="@{/product}">
                <label class="product__filler_label" for="minPrice">Min price</label><input type="number" id="minPrice" name="minPrice">
                <label class="product__filler_label" for="maxPrice">Max price</label><input type="number" id="maxPrice" name="maxPrice">
                <button type="submit">Apply</button>
            </form>
        </div>
        <table th:if="${productPage.hasContent()}">
            <tr>
                <th>id</th>
                <th>title</th>
                <th>price</th>
            </tr>

<!--            <tr th:each="product : ${products}">-->
            <tr th:each="product : ${productPage.content}">
                <td th:text="${product.id}">id</td>
                <td th:text="${product.title}">title</td>
                <td th:text="${product.price}">price</td>
            </tr>
        </table>
        <div th:unless="${productPage.hasContent()}" class="product_unless_div">
            <h3>No data</h3>
        </div>

        <pag th:replace="fragments/pagination.html" :: pagination />

    </body>

    <footer th:replace="fragments/footer.html" :: footer />

</div>

</html>