<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <title>Product_form</title>
</head>
<div class="container">
    <header>
        <div class="header__div">
            <div class="main_logo">
                <a th:href="@{/welcome}"><img class="main_logo" th:src="@{/resources/images/main-logo.png}" alt="Лого"></a>
            </div>
            <p>Интернет-магазин Бытовая техника.RU. Телефон: +7 495 000-0000</p>
            <ul class ="header__menu">
                <li class ="header__menu__li"><a class ="header__menu__link" th:href="@{/welcome}">Главная</a></li>
                <li class ="header__menu__li"><a class ="header__menu__link" th:href="@{/product}">Каталог</a></li>
                <li class ="header__menu__li"><a class ="header__menu__link" th:href="@{/product/form}">Добавить товар</a></li>
            </ul>
        </div>
    </header>
    <body>
        <h1>Добавить товар</h1>
        <form th:action="@{/product/form}" th:object="${product}" method="post">
            <legend><h2>Заполните форму</h2></legend>
            <p>Title <input th:field="*{title}" class="product_form__input" type="text" placeholder="Insert title" style="margin-left:15px;"></p>
            <p>Price <input th:field="*{price}" class="product_form__input" type="number" placeholder="Insert price" style="margin-left:2px;"></p>
            <div class="product_form__buttons__div">
                <button type="submit">Отправить</button>
                <button type="reset">Очистить</button>
            </div>
        </form>
    </body>
    <footer>
        <p>&copy; Все права защищены</p>
    </footer>
</div>
</html>