<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" type="text/css" href="style.css">-->
    <title>Каталог</title>
</head>
<div class="container">
    <header>
        <div class="header__div">
            <div class="main_logo">
                <a th:href="@{/welcome}"><img class="main_logo" src="images/main-logo.png" alt="Лого"></a>
            </div>
            <p>Интернет-магазин Бытовая техника.RU. Телефон: +7 495 000-0000</p>
            <ul class ="menu">
                <li class ="menu__li"><a class ="menu__link" th:href="@{/welcome}">Главная</a></li>
                <li class ="menu__li"><a class ="menu__link" th:href="@{/product}">Каталог</a></li>
                <li class ="menu__li"><a class ="menu__link" th:href="@{/product/form}">Добавить товар</a></li>
            </ul>
        </div>
    </header>
    <body>
        <table>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>price</th>
            </tr>

<!--            <tr th:each="product : ${products}">-->
<!--                <td th:text="${product.id}">id</td>-->
<!--                <td th:text="${product.title}">title</td>-->
<!--                <td th:text="${product.price}">price</td>-->
<!--            </tr>-->
            <tr th:each="entry, stats : ${products}" th:with="product=${entry.value}">
                <td th:text="${product.id}">id</td>
                <td th:text="${product.title}">title</td>
                <td th:text="${product.price}">price</td>
            </tr>
<!--            <tr th:each="entry, stats : ${usersMap}" th:with="user=${entry.value}">-->
<!--                <td th:text="${stats.index + 1}">1</td>-->
<!--                <td th:text="${entry.key}">100</td>-->
<!--                <td th:text="${user.firstName}">John</td>-->
<!--                <td th:text="${user.lastName}">Doe</td>-->
<!--                <td th:text="${user.email}">john.doe@example.com</td>-->
<!--                <td th:text="${user.age}">27</td>-->
<!--                <td th:text="${#dates.format(user.created, 'MMMM dd, yyyy')}">January 15, 2020</td>-->
<!--            </tr>-->
        </table>
    </body>
    <footer>
        <p>&copy; Все права защищены</p>
    </footer>
</div>

</html>