<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <header th:fragment="header (activePage)">
        <div class="header__div">
            <div class="main_logo">
                <a th:href="@{/welcome}"><img class="main_logo" th:src="@{/resources/images/main-logo.png}" alt="Лого"></a>
            </div>
            <p>Интернет-магазин Бытовая техника.RU. Телефон: +7 495 000-0000</p>
            <ul class ="header__menu">
                <!-- проверяем какая страница активна и меняем стиль пункта меню - см. .header__menu__link.active в style.css -->
                <!-- значения атрибута activePage устанавливается в контроллерах -->
                <li class ="header__menu__li"><a class ="header__menu__link" th:href="@{/welcome}" th:classappend="${activePage == 'IndexPage'} ? 'active'" >Главная</a></li>
                <li class ="header__menu__li"><a class ="header__menu__link" th:href="@{/product}" th:classappend="${activePage == 'Products'} ? 'active'" >Каталог</a></li>
                <!-- скрываем пункт меню "Users" для всех пользователей, кроме админов и суперадминов -->
                <li sec:authorize="hasRole('ADMIN') or hasRole('SUPERADMIN')" class ="header__menu__li"><a class ="header__menu__link" th:href="@{/user}" th:classappend="${activePage == 'Users'} ? 'active'" >Users</a></li>
                <!-- для неавторизованных пользователей показываем пункт меню "Login", для авторизованных - "Logout" и имя -->
                <li sec:authorize="isAnonymous()" class ="header__menu__li"><a class ="header__menu__link" th:href="@{/login}" >Login</a></li>
                <li sec:authorize="isAuthenticated()" class ="header__menu__li"><a class ="header__menu__link" th:href="@{/logout}" >Logout: </a><span sec:authentication="principal.username"></span></li>
            </ul>
        </div>
    </header>

</html>